// This is the project stylesheet

// Colors
$black: rgba(0, 0, 0, 1);
$blue: rgba(64, 114, 139, 1);
$green: rgba(119, 172, 19, 1);
$light-brown: rgba(246, 233, 221, 1);
$orange: rgba(241, 111, 25, 1);
$white: rgba(255, 255, 255, 1);
$yellow: rgba(241, 204, 64, 1);